body
{
    color: #353535;
}

/* ========================================================================
   Component: layout
 ========================================================================== */
body, .wrapper .section-container {
  background-color: #f5f7fa; }

.wrapper .aside-container {
  background-color: #fff; }

/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: #37bc9b;
  background-image: linear-gradient(to right, #37bc9b 0%, #58ceb1 100%);
  background-repeat: repeat-x; }
  @media (min-width: 992px) {
    .topnavbar .navbar-nav > .nav-item.show > .nav-link, .topnavbar .navbar-nav > .nav-item.show > .nav-link:hover, .topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
      box-shadow: 0 -3px 0 #30a487 inset; } }
  .topnavbar .navbar-nav > .nav-item > .navbar-text {
    color: #fff; }
  .topnavbar .navbar-nav > .nav-item > .nav-link,
  .topnavbar .navbar-nav > .nav-item.show > .nav-link {
    color: #fff; }
    .topnavbar .navbar-nav > .nav-item > .nav-link:hover, .topnavbar .navbar-nav > .nav-item > .nav-link:focus,
    .topnavbar .navbar-nav > .nav-item.show > .nav-link:hover,
    .topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
      color: #206d5a; }
  .topnavbar .dropdown-item.active, .topnavbar .dropdown-item:active {
    background-color: #37bc9b; }

/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
  background-color: #fff; }
  .sidebar .nav-heading {
    color: #919DA8; }

.sidebar-nav > li > a, .sidebar-nav > li > .nav-item {
  color: #515253; }
  .sidebar-nav > li > a:focus, .sidebar-nav > li > a:hover, .sidebar-nav > li > .nav-item:focus, .sidebar-nav > li > .nav-item:hover {
    color: #37bc9b; }
  .sidebar-nav > li > a > em, .sidebar-nav > li > .nav-item > em {
    color: inherits; }

.sidebar-nav > li.active, .sidebar-nav > li.active > a, .sidebar-nav > li.active > .nav-item, .sidebar-nav > li.active .sidebar-nav, .sidebar-nav > li.open, .sidebar-nav > li.open > a, .sidebar-nav > li.open > .nav-item, .sidebar-nav > li.open .sidebar-nav {
  background-color: #fcfcfc;
  color: #37bc9b; }

.sidebar-nav > li.active > .nav-item > em, .sidebar-nav > li.active > a > em, .sidebar-nav > li.open > .nav-item > em, .sidebar-nav > li.open > a > em {
  color: #37bc9b; }

.sidebar-nav > li.active {
  border-left-color: #37bc9b; }

.sidebar-subnav {
  background-color: #fff; }
  .sidebar-subnav > .sidebar-subnav-header {
    color: #515253; }
  .sidebar-subnav > li > a, .sidebar-subnav > li > .nav-item {
    color: #515253; }
    .sidebar-subnav > li > a:focus, .sidebar-subnav > li > a:hover, .sidebar-subnav > li > .nav-item:focus, .sidebar-subnav > li > .nav-item:hover {
      color: #37bc9b; }
  .sidebar-subnav > li.active > a, .sidebar-subnav > li.active > .nav-item {
    color: #37bc9b; }
    .sidebar-subnav > li.active > a:after, .sidebar-subnav > li.active > .nav-item:after {
      border-color: #37bc9b;
      background-color: #37bc9b; }

/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
  border-left: 1px solid greyscale(#cccccc);
  background-color: #fff;
  color: #656565; }

/* end of custom theme  */

.m-10
{
    margin: 10px;
}

.m-20
{
    margin: 20px;
}

.m-t-10
{
    margin-top: 10px;
}

.m-b-10
{
    margin-bottom: 10px;
}

.m-t-20
{
    margin-top: 20px;
}

.m-b-20
{
    margin-bottom: 20px;
}

.f-16
{
    font-size: 16px;
}

.f-18
{
    font-size: 18px;
}

.f-20
{
    font-size: 20px;
}

.f-24
{
    font-size: 24px;
}

.f-30
{
    font-size: 30px;
}

.f-32
{
    font-size: 32px;
}

.p-8
{
    padding: 8px;
}

.p-10
{
    padding: 10px;
}

tr>th.p-8,
tr>td.p-8
{
    padding: 8px;
}

.badge-shipped
{
    color: white;
    background-color: #32cae4;
}

.text-dark
{
    color: #000;
}

.text-black
{
    color: #000;
}

.text-gray-custom
{
    color: #888;
}

.help-block
{
    margin-bottom: 25px;
}

.notification
{
    box-shadow: 3px 3px 5px #999;
}

.notification:hover,
.nofitication:focus
{
    box-shadow: 6px 6px 7px #666;
}

.btn-mtn
{
    background-color: #ffca06;
    color: white;
    font-weight: bold;
    transition: 1s all;
}

.btn-orange
{
    background-color: #ff6600;
    color: #fff;
    font-weight: bold;
    transition: 1s all;
}

.btn-visa
{
    background-color: #00618f;
    color: #fff;
    font-weight: bold;
    transition: 1s all;
}

.btn-mtn:hover,
.btn-mtn:focus,
.btn-orange:hover,
.btn-orange:focus,
.btn-visa:hover,
.btn-visa:focus
{
    box-shadow: 4px 4px 0 0px #e4e4e4;
    color: #333333;
}

.pay-input
{
    font-size: 24px;
    color: #23293e;
    text-align: center;
    border-radius: 0px;
    font-weight: bold;
    padding: 20px;
}




/* Preloader */
.themed-background {
	background-color: #1bbae0;
}

.loader-message
{
	font-size: 28px;
	color: #fff;
}

.preloader.active {
	overflow: hidden;
	opacity: 0.9;
    background-color: #39e68e;
}

.preloader.active {
	display: block;
}

#page-wrapper.page-loading #page-container {
    opacity: 0;
}

.preloader {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: 99999;
}

.preloader .inner {
    position: fixed;
    top: 20%;
    left: 50%;
    margin: 0 0 0 -50px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.preloader-spinner {
    width: 24px;
    height: 24px;
    border: 3px solid transparent;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-top-color: #ffffff;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner .4s linear infinite;
    -moz-animation: nprogress-spinner .4s linear infinite;
    -ms-animation: nprogress-spinner .4s linear infinite;
    -o-animation: nprogress-spinner .4s linear infinite;
    animation: nprogress-spinner .4s linear infinite;
}

.preloader-spinner {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-width: 3px;
}

.content-wrapper .content-heading
{
    color: #006934;
    font-weight: 700;
}

.table>thead>tr>th
{
    color: #444;
    font-size: 16px;
}



/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1050;
	top: 15px;
	left: 50%;
	margin-left: -10px;
}

#nprogress .spinner-icon {
	width: 20px;
	height: 20px;
	border:  solid 2px transparent;
	border-top-color:  #1bbae1;
	border-left-color: #1bbae1;
	border-radius: 10px;
	-webkit-animation: nprogress-spinner 400ms linear infinite;
	-moz-animation:    nprogress-spinner 400ms linear infinite;
	-ms-animation:     nprogress-spinner 400ms linear infinite;
	-o-animation:      nprogress-spinner 400ms linear infinite;
	animation:         nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
	0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes nprogress-spinner {
	0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes nprogress-spinner {
	0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes nprogress-spinner {
	0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
	0%   { transform: rotate(0deg);   transform: rotate(0deg); }
	100% { transform: rotate(360deg); transform: rotate(360deg); }
}
