.m-10
{
    margin: 10px;
}

.m-20
{
    margin: 20px;
}

.m-t-10
{
    margin-top: 10px;
}

.m-b-10
{
    margin-bottom: 10px;
}

.m-t-20
{
    margin-top: 20px;
}

.m-b-20
{
    margin-bottom: 20px;
}

.f-16
{
    font-size: 16px;
}

.f-18
{
    font-size: 18px;
}

.f-20
{
    font-size: 20px;
}

.f-24
{
    font-size: 24px;
}

.f-30
{
    font-size: 30px;
}

.f-32
{
    font-size: 32px;
}

.p-8
{
    padding: 8px;
}

.p-10
{
    padding: 10px;
}

tr>th.p-8,
tr>td.p-8
{
    padding: 8px;
}

.badge-shipped
{
    color: white;
    background-color: #32cae4;
}

.text-dark
{
    color: #000;
}

.text-black
{
    color: #000;
}

.text-gray-custom
{
    color: #888;
}

.help-block
{
    margin-bottom: 25px;
}

.notification
{
    box-shadow: 3px 3px 5px #999;
}

.notification:hover,
.nofitication:focus
{
    box-shadow: 6px 6px 7px #666;
}

.btn-mtn
{
    background-color: #ffca06;
    color: white;
    font-weight: bold;
    transition: 1s all;
}

.btn-orange
{
    background-color: #ff6600;
    color: #fff;
    font-weight: bold;
    transition: 1s all;
}

.btn-visa
{
    background-color: #00618f;
    color: #fff;
    font-weight: bold;
    transition: 1s all;
}

.btn-mtn:hover,
.btn-mtn:focus,
.btn-orange:hover,
.btn-orange:focus,
.btn-visa:hover,
.btn-visa:focus
{
    box-shadow: 4px 4px 0 0px #e4e4e4;
    color: #333333;
}

.pay-input
{
    font-size: 24px;
    color: #23293e;
    text-align: center;
    border-radius: 0px;
    font-weight: bold;
    padding: 20px;
}




/* Preloader */
.themed-background {
	background-color: #1bbae0;
}

.loader-message
{
	font-size: 28px;
	color: #fff;
}

.preloader.active {
	overflow: hidden;
	opacity: 0.9;
    background-color: #39e68e;
}

.preloader.active {
	display: block;
}

#page-wrapper.page-loading #page-container {
    opacity: 0;
}

.preloader {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: 99999;
}

.preloader .inner {
    position: fixed;
    top: 20%;
    left: 50%;
    margin: 0 0 0 -50px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.preloader-spinner {
    width: 24px;
    height: 24px;
    border: 3px solid transparent;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-top-color: #ffffff;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner .4s linear infinite;
    -moz-animation: nprogress-spinner .4s linear infinite;
    -ms-animation: nprogress-spinner .4s linear infinite;
    -o-animation: nprogress-spinner .4s linear infinite;
    animation: nprogress-spinner .4s linear infinite;
}

.preloader-spinner {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-width: 3px;
}



/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1050;
	top: 15px;
	left: 50%;
	margin-left: -10px;
}

#nprogress .spinner-icon {
	width: 20px;
	height: 20px;
	border:  solid 2px transparent;
	border-top-color:  #1bbae1;
	border-left-color: #1bbae1;
	border-radius: 10px;
	-webkit-animation: nprogress-spinner 400ms linear infinite;
	-moz-animation:    nprogress-spinner 400ms linear infinite;
	-ms-animation:     nprogress-spinner 400ms linear infinite;
	-o-animation:      nprogress-spinner 400ms linear infinite;
	animation:         nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
	0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes nprogress-spinner {
	0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes nprogress-spinner {
	0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes nprogress-spinner {
	0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
	0%   { transform: rotate(0deg);   transform: rotate(0deg); }
	100% { transform: rotate(360deg); transform: rotate(360deg); }
}
